.block1{
    width: 300px;
    height: 450px;
    border: 1px solid white;
    display: inline-block;
    margin: 50px;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.outer{
    background-color:  #f7f3f4;
}
img{
    width: 200px;
    height: 120px;
    align-content: center;
}
.ptcl{
    width: 250px;
    height: 150px;
}
p{
    font-family: 'Cormorant Garamond', serif;
    font-family: ;
    
}
